.hidden {
	visibility: hidden;
}

.row {
	max-width: 64.5rem;
}

.banner {
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
}

ul.forecast {
	margin-top: 1rem;
}

ul.day {
	list-style-type: none;
	margin: auto 0;
	background: rgb(255, 255, 255);
	border: 2px solid rgb(216, 216, 216);
}
.weekday {
	font-weight: 700;
	padding-bottom: 0.5rem;
}
